<div class="top">
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log-in</a>
    <span *ngIf="isLoggedIn" class="logout" (click)="logout()">Log-out</span>
</div>
<h1 class="course-list-heading">Courses</h1>
<main>
    <section class="search-container">
        <form [formGroup]="form" (ngSubmit)="search()" class="search-bar">
            <input type="text" placeholder="Search" formControlName="searchQuery">
            <button type="submit" class="material-symbols-outlined">search</button>
        </form>
    </section>
    <section class="course-list-container">
        <app-course-item *ngFor="let course of filteredCourses" [course]="course" />
    </section>
</main>